.wrapper {
  align-items: top;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.sidebar {
  flex-shrink: 0;
  width: 18rem;
  margin: 1rem;
}

.button {
  display: block;
  width: 100%;
  min-height: 2rem;
  margin-bottom: 1rem;
}
